<header class="header">
    <div class="container-fluid pt-2 pb-2">
        <div class="d-flex justify-content-between">
            <img class="navbar-brand text-white logo" src="https://sis.ou.edu.vn/theme/sisv2/assets/logo.png" alt="Logo Trường">

            <!-- Dropdown User Info -->
            <div class="dropdown d-flex align-items-center hover-dropdown">
                <!-- Tên người dùng và Avatar -->


                <!-- Menu Dropdown -->

            </div>
        </div>
    </div>
</header>