<!--{% extends 'layout/base.html' %}-->

<!--{% block title %}Quản lý Thông Tin Tài Khoản{% endblock %}-->

<!--{% block content %}-->
<!--<form method="POST" enctype="multipart/form-data" id="accountForm"-->
<!--      class="d-flex flex-column justify-content-center gap-2">-->
<!--    <h4 class="text-center">Cập Nhật Thông Tin Tài Khoản</h4>-->
<!--    {{ form_account.csrf_token }}-->
<!--    {% with messages = get_flashed_messages(with_categories=true) %}-->
<!--    {% if messages %}-->
<!--    {% for category, message in messages %}-->
<!--    <div class="alert alert-{{ category }} mt-3">-->
<!--        {{ message }}-->
<!--    </div>-->
<!--    {% endfor %}-->
<!--    {% endif %}-->
<!--    {% endwith %}-->
<!--    <fieldset class="border p-3 mb-3">-->
<!--    <div class="row mb-3">-->
<!--        <div class="col-md-6">-->
<!--            {{ form_account.name.label(class="form-label") }}-->
<!--            {{ form_account.name(class="form-control") }}-->
<!--            <div class="invalid-feedback">{{ form_account.name.errors|join(", ") }}</div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            {{ form_account.email.label(class="form-label") }}-->
<!--            {{ form_account.email(class="form-control") }}-->
<!--            <div class="invalid-feedback">{{ form_account.email.errors|join(", ") }}</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mb-3">-->
<!--        <div class="col-md-6">-->
<!--            {{ form_account.birthday.label(class="form-label") }}-->
<!--            {{ form_account.birthday(class="form-control") }}-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            {{ form_account.gender.label(class="form-label") }}-->
<!--            {{ form_account.gender(class="form-select") }}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mb-3">-->
<!--        <div class="col-md-6">-->
<!--            {{ form_account.phone.label(class="form-label") }}-->
<!--            {{ form_account.phone(class="form-control") }}-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            {{ form_account.address.label(class="form-label") }}-->
<!--            {{ form_account.address(class="form-control") }}-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row mb-3">-->
<!--        <div class="col-md-6">-->
<!--            &lt;!&ndash;            Ảnh phải có id &ndash;&gt;-->
<!--            {{ form_account.avatar.label(class="form-label") }}-->
<!--            {{ form_account.avatar(class="form-control", id="form_account_avatar") }}-->

<!--        </div>-->
<!--        <div class="col-md-6">-->

<!--&lt;!&ndash;            <img src="{{ current_user.avatar }}" alt="Ảnh đại diện" class="img-thumbnail "&ndash;&gt;-->
<!--&lt;!&ndash;                 style="width: 100px; height: 100px; object-fit: cover; border-radius: 70%;" id="avatar-preview"/>&ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
<!--    </fieldset>-->
<!--    <div class="row mb-3">-->
<!--        <div class="col-md-12 d-flex align-items-center justify-content-end gap-1">-->
<!--            {{ form_account.submit(class="btn btn-primary me-2",  type="submit") }}-->
<!--            <button type="button" class="btn btn-danger" onclick="clearForm()">Hủy</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#form_account_avatar').on('change', function() {-->
<!--            const [file] = this.files;-->
<!--            if (file) {-->
<!--                $('#avatar-preview').attr('src', URL.createObjectURL(file));-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->


<!--{% endblock %}-->